<%= form_with model: queue, url: queue.persisted? ? case_queue_path(queue) : case_queues_path,
      scope: :case_queue, class: "form" do |f| %>
  <%= render "shared/form_errors", record: queue %>

  <div class="form-row <%= "field-error" if queue.errors[:name].any? %>">
    <%= f.label :name, t("case_queues.fields.name") %>
    <%= f.text_field :name, required: true %>
    <% queue.errors[:name].each do |msg| %><p class="field-error-message"><%= msg %></p><% end %>
  </div>

  <div class="form-row <%= "field-error" if queue.errors[:slug].any? %>">
    <%= f.label :slug, t("case_queues.fields.slug") %>
    <%= f.text_field :slug %>
    <p class="form-hint"><%= t("case_queues.form.slug_hint") %></p>
    <% queue.errors[:slug].each do |msg| %><p class="field-error-message"><%= msg %></p><% end %>
  </div>

  <div class="form-row">
    <%= f.label :description, t("case_queues.fields.description") %>
    <%= f.text_field :description %>
  </div>

  <fieldset>
    <legend><%= t("case_queues.fields.members") %></legend>
    <%= f.collection_check_boxes :member_ids, User.active.staff.order(:name), :id, :display_label do |b| %>
      <div class="checkbox-row">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to t("actions.cancel"), case_queues_path, class: "btn" %>
  </div>
<% end %>
