<%= form_with model: connector, url: (connector.persisted? ? admin_connector_path(connector) : admin_connectors_path), class: "form" do |f| %>
  <%= render "shared/form_errors", record: connector %>
  <%= f.hidden_field :provider %>
  <%= f.hidden_field :target %>

  <div class="form-row">
    <%= f.label :name, t("admin.connectors.fields.name") %>
    <%= f.text_field :name, required: true %>
  </div>

  <fieldset>
    <legend><%= t("admin.connectors.config_legend") %></legend>
    <% Array(descriptor&.config_fields).each do |field| %>
      <div class="form-row">
        <%= label_tag "connector_config_#{field}", t("admin.connectors.config.#{field}", default: field.humanize) %>
        <%= text_field_tag "connector[config][#{field}]", connector.config_value(field), id: "connector_config_#{field}" %>
      </div>
    <% end %>
  </fieldset>

  <% descriptor&.secret_fields&.each do |field| %>
    <div class="form-row">
      <%= label_tag "connector_credentials_#{field}", t("admin.connectors.credentials.#{field}", default: field.to_s.humanize) %>
      <%= password_field_tag "connector[credentials][#{field}]", nil, id: "connector_credentials_#{field}",
            autocomplete: "off", placeholder: connector.persisted? ? t("admin.connectors.api_key_kept") : nil %>
    </div>
  <% end %>

  <% if SharedCredential.ordered.any? %>
    <div class="form-row">
      <%= f.label :shared_credential_id, t("admin.connectors.fields.shared_credential") %>
      <%= f.select :shared_credential_id,
            options_from_collection_for_select(SharedCredential.ordered, :id, :label, connector.shared_credential_id),
            include_blank: t("forms.none") %>
      <p class="form-hint"><%= t("admin.connectors.fields.shared_credential_hint") %></p>
    </div>
  <% end %>

  <% if descriptor.nil? || descriptor.syncs? %>
    <fieldset>
      <legend><%= t("admin.connectors.mapping_legend") %></legend>
      <p class="muted text-sm"><%= t("admin.connectors.mapping_hint") %></p>
      <% %w[external_id email name phone].each do |docket_field| %>
        <div class="form-row">
          <%= label_tag "connector_field_mapping_#{docket_field}", t("admin.connectors.mapping.#{docket_field}") %>
          <%= text_field_tag "connector[field_mapping][#{docket_field}]", (connector.field_mapping || {})[docket_field],
                id: "connector_field_mapping_#{docket_field}", placeholder: t("admin.connectors.mapping_placeholder") %>
        </div>
      <% end %>
    </fieldset>

    <div class="form-row">
      <%= f.label :schedule_interval_minutes, t("admin.connectors.fields.schedule") %>
      <%= f.number_field :schedule_interval_minutes, min: 1, placeholder: t("admin.connectors.schedule_hint") %>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
